@import "../base/variables";

.container{
	display: flex;
	height: 100vh;
	pointer-events: none;
	min-height: 410px;
	align-items: center;
	transition: all 0.3s ease;
}

.maincontent{
	width:600px;
	background-color: $color-white;
	position: relative;
	transition: all 0.3s ease;
  }

.mainButton{
	display: flex;
	width:20px;
	height:100px;
	align-items: center;
	text-align: center;
	background-color: $color-grey;
	pointer-events: auto;
	cursor:pointer;
	transition: all 0.3s ease;
	border-radius: 0px 5px 5px 0px;
}

.mainButton:hover{
	background-color: $color-button-active;
}

.overlay{
	overflow:hidden;
	flex:1; /* 나머지 너비를 차지합니다. */
	transition: all 0.3s ease;
}
