@import "../base/variables";

.container{
	display: flex;
	height: 100vh;
	pointer-events: none;
	min-height: 410px;
}

.maincontent{
	width:600px;
	background-color: $color-white;
	position: relative;
  }

.mainButton{
	width:20px;
	height:100px;
	align-items: center;
	background-color: $color-button-inactive;
	pointer-events: auto;
	cursor:pointer;
}

.overlay{
	overflow:hidden;
	flex:1; /* 나머지 너비를 차지합니다. */
}
