@import "../base/variables";

.overlay{
	display: grid;
	grid-template-rows: 100px 1fr 400px;
	height: 100dvh;
	margin:0;
	padding:0;
	flex:1;
	overflow: hidden;
	transition: all 0.3s ease;
}

.middle, .bottom{
	place-self: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.top{
	width: 400px;
	place-self: left;
	display: grid;
	position: relative;
	align-items: center;
	grid-template-columns: 2fr 0.1fr 0.25fr;
	left: 50px;
}

.topButton{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin:0;
	padding:0;
	width:50px;
	height:50px;
	border-radius: 70%;
	background-color: rgba(255, 255, 255, 0.8);
	cursor: pointer;
	pointer-events: auto;
	border: 1px solid;
	grid-column: 3;
}

.topButton:hover {
	background-color: rgba(232, 232, 232, 0.8);
}

.topLocation{
	display: grid;
	grid-template-columns: 1.25fr 1fr 1fr;
	position: relative;
	font-size: $font-size-large;
	min-width: 200px;
	height:50px;
	border-radius: 30px;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.8);
	pointer-events: none;
	text-align: center;
	justify-content: center;
	border: 1px solid;
}

.middle{
	pointer-events: none;
}

.bottom{
	position: relative;
	min-width: 800px;
	background-color: azure;
	pointer-events: auto;
}
