@import "../base/variables";

.container {
  display: grid;
  grid-template-rows: 70px 600px;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  transition: all 0.3s ease;
  padding-left: 7%;
  padding-right: 7%;
}

.innerContainer {
  display: grid;
  grid-template-rows: 250px 350px;
}

.categoryMsg {
  font-size: $font-size-small;
  color: $color-grey-dark;
  padding-left: 15px;
  padding-top: 15px;
}

.button {
  display: grid;
  grid-template-columns: 1fr 80px;
  width: 100%;
  border-bottom: 1px solid $color-grey;
  align-items: center;
  justify-items: start;
  padding-left: 15px;
  padding: 10px;
  font-size: $font-size-large;
}
.button:hover {
  background-color: $color-primary-light;
}

.loginRoute{
  display: flex;
  gap: 10px;
}

.expandButton {
  display: grid;
  width: 30px;
  height: 30px;
  align-self: center;
  justify-self: end;
}

.logoutButton {
  font-size: $font-size-small;
  background-color: $color-grey;
  border-radius: 15px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.loginImgContainerKakao{
  align-self: center;
  justify-self: center;
	width:25px;
	height:25px;
  padding: 5px;
	border-radius: 70%;
	object-fit: cover;
  background-Color: #fee500 ;
  padding: 5px;
}

.loginImgContainerNaver{
  align-self: center;
  justify-self: center;
	width:25px;
	height:25px;
  padding: 5px;
	border-radius: 70%;
	object-fit: cover;
  background-Color: #03c75a ;
  padding: 5px;
}

.loginImgContainerGoogle{
  align-self: center;
  justify-self: center;
	width:25px;
	height:25px;
  padding: 5px;
	border-radius: 70%;
	object-fit: cover;
  background-Color: #ffffff ;
  padding: 5px;
}
