@import "../base/variables";

.container{
	display: grid;
	grid-template-rows: 70px 300px 35px 1fr;
	margin:0;
	padding:0;
	min-height: 100vh;
	transition: all 0.3s ease;
	padding-left: 7%;
	padding-right: 7%;
}

.topper{
	display: grid;
	padding-top: 20px;
	padding-bottom: 20px;
	grid-template-columns: 40px 1fr;
    align-items: center;
    justify-content: flex-start;
}

.profileDataContainer{
	flex:1;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
}

.profileData{
	display: grid;
	grid-template-rows: 1fr 50px 50px;
	border-bottom: 1px solid $color-grey;
	justify-content: center;
	align-items: center;
	text-align: center;
	justify-items: center;
	place-items: center;
}

.profileImage{
	width:150px;
	height:150px;
	border-radius: 70%;
    overflow: hidden;
}

.profileName{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	flex-direction: columns;
	align-items: center;
    justify-content: center;
	font-size: $font-size-largest;
}

.profileLog{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.buttonContainer{
    align-items: center;
    justify-content: flex-start;
	gap: 20px;
	border-bottom: 1px solid $color-grey;
}

.buttons{
	justify-content: center;
	align-items: center;
	width: fit-content;
	height: fit-content;
	padding-left: 10px;
	padding-right: 10px;
	margin: 5px;
	border-radius: 3rem;
	color: $color-grey-dark;
	background-color: $color-grey;
	outline: 1px solid $color-border-inactive;
	cursor: pointer;
	transition: all 0.2s ease-in-out;

	&:hover {
	  background-color: $color-button-active;
	  outline: 2px solid $color-border-active;
	}
}

.profileListContainer{
	flex:1;
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: repeat(auto-fill, 170px);
	gap: 10px;
	padding: 20px;
}

.icon{
	width: 25px;
	height: 25px;
}

.dummycard{
	height: 200px;
	background-color: rgb(140, 203, 226);
	border: 1px solid;
}
