@import "../base/variables";

.container{
	display: grid;
	grid-template-rows: 100px 40px 100px 30px 300px 1fr;
	margin:0;
	padding:0;
	min-height: 100vh;
	transition: all 0.3s ease;
	padding-left: 7%;
	padding-right: 7%;
}

.logoTopper{
	display: grid;
	grid-template-columns: 150px 1fr;
	align-items: center;
    justify-content: flex-start;
	padding-top: 15px;
	padding-bottom: 10px;
	gap: 10px;
}

.topper{
	display: grid;
	grid-template-columns: 50px 50px 300px;
    align-items: center;
    justify-content: flex-start;
}

.inputContainer{
	display: flex;
	align-items: center;
}

.inputLogo{
	border: 1px solid $color-primary;
	border-radius: 3rem;
	color: $color-grey-dark;
	padding: 5px;
	flex: 1;
}

.input{
	border: 1px solid $color-grey;
	border-radius: 3rem;
	color: $color-grey-dark;
	padding: 5px;
	flex: 1;
}

.inputButton{
	margin-left: -40px;
}

.buttonContainer{
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	padding-bottom: 20px;
}

.buttons{
	justify-content: center;
	align-items: center;
	width: fit-content;
	height: fit-content;
	padding-left: 10px;
	padding-right: 10px;
	margin: 5px;
	border-radius: 3rem;
	color: $color-grey-dark;
	background-color: $color-grey;
	outline: 1px solid $color-border-inactive;
	cursor: pointer;
	transition: all 0.2s ease-in-out;

	&:hover {
	  background-color: $color-button-active;
	  outline: 2px solid $color-border-active;
	}
}

.message{
	font-size: $font-size-small;
}

.collectionListContainer{
	flex:1;
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: repeat(auto-fill, minmax(1px, 400px));
	gap: 10px;
}

.searchListContainer{
	flex:1;
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: repeat(auto-fill, minmax(1px, 200px));
	gap: 10px;
	padding: 20px;
}

.icon{
	width: 25px;
	height: 25px;
}

.dummycard1{
	height: 200px;
	background-color: rgb(204, 204, 204);
	border: 1px solid;
}

.dummycard2{
	height: 70px;
	background-color: rgb(96, 96, 96);
	border: 1px solid;
}
