@import "../base/variables";

.loader {
	margin: 1rem;
  width: 5rem;
	height: fit-content;
	display: flex;
	gap: 1rem;
  align-items: center;
  justify-content: center;

	@keyframes bounce {
		0% {
			transform: translate(0rem, 0rem);
		}
		60% {
			transform: translate(0rem, 1rem);
		}
		80% {
			transform: translate(0rem, 0.3rem);
		}
		100% {
			transform: translate(0rem, 0rem);
		}
	}

	.ball {
		height: 100%;
		background-color: $color-primary-light;
		width: 0.5rem;
		height: 0.5rem;
		border-radius: 100%;
		animation: bounce 0.8s linear infinite reverse;
		&:nth-child(2) { 
			animation-delay: -0.1s; 
			background-color: $color-primary;
		}
		&:nth-child(3) { 
			animation-delay: -0.2s; 
			background-color: $color-primary-dark;
		}
	}
}
