@import "../base/variables";

$card-width: 48rem;

.cardSlider {
  height: 100%;
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-x: auto;

  .cardContainer {
    position: absolute;
    // transform: translateX(-($card-width / 2));
    transition: transform 0.2s ease-out;
    overflow-y: hidden;
    overflow-x: scroll;
    
    scroll-snap-type : block mandatory;
    scroll-snap-align: center;

    // scroll bar hide
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera*/
    }

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1rem;
    gap: 1rem;
    
    .activeCard {
      flex-shrink: 0;
      transition: transform 1s;
      & > * {
        border: 3px solid $color-primary;
      }
      opacity: 1;
    }
    .deactiveCard {
      opacity: 0.5;
    }
  }

  %sliderButton {
    position: absolute;
    z-index: 10;
    background-color: white;
    border-radius: 999px;
    width: 2rem;
    height: 2rem;
    background-color: white;
    border: 1px solid $color-primary;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      color: $color-primary;
      width: 24px;
      height: 24px;
    }
  }

  // .leftButton {
  //   @extend %sliderButton;
  //   left: 50%;
  //   transform: translateX(-($card-width / 2) - 1.5rem);
  //   svg {
  //     margin-right: 2px;
  //   }
  // }

  // .rightButton {
  //   @extend %sliderButton;
  //   right: 50%;
  //   transform: translateX(+($card-width / 2) + 1.5rem);
  //   svg {
  //     margin-left: 2px;
  //   }
  // }

  .leftButton {
    @extend %sliderButton;
    left: 0px;
    svg {
      margin-right: 2px;
    }
  }

  .rightButton {
    @extend %sliderButton;
    right: 0px;
    svg {
      margin-left: 2px;
    }
  }
}
