@import "../base/placeholders";
@import "../base/variables";

.review {
  width: 100%;
  font-size: $font-size-small;
  background-color: $color-grey-light;
  padding: 0.2rem;
  border-radius: $border-radius;

  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.2rem;
  align-items: center;
  justify-content: center;

  .userAvatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
  }
  .userNick {
    grid-column: 2 / -1;
    color: $color-text-caption;
    font-weight: 600;
  }
  .content {
    display: flex;
    grid-column: 2 / -1;
    gap: 0.2rem;
    padding: 0.2rem;
    overflow-x: auto;
    img {
      width: 8rem;
      height: 8rem;
      object-fit: cover;
      cursor: pointer
    }
  }
  .text {
    line-height: 1.4;
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
    // align-content: start;
    gap: 0.5rem;
    svg {
      width: 1.5rem;
      height: 1.5rem;
      color: $color-text-caption;
    }
    span {
      line-height: 1;
      vertical-align: middle;
      grid-column: 1 / -1;
    }
  }

  .tags {
    grid-column: 2 / -1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.2rem;

    .tag {
      @extend %pt-tag;
    }
  }

  .footers {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0;
    grid-column: 2 / -1;
    font-size: $font-size-small;

    .button {
      cursor: pointer;
      font-size: $font-size-small;
	  color: $color-text-caption;
      &:hover {
        color: $color-primary;
      }
    }
  }
}
