@import "../base/placeholders";
@import "../base/variables";

.slideMenuLayout {
	// position: relative;
	width: 100%;
	// height: 100%;
	height: fit-content;
}

.menuList {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	position: relative;
	padding-top: 1rem;
	padding-bottom: 0.5rem;
	margin-bottom: 0.5rem;
	.menuCategory {
		color: $color-text-caption;
		cursor: pointer;
		&:hover {
			background-color: $color-grey-light;
		}
	}
	.active {
		color: black;
	}
	.menuSelectLine {
		position: absolute;
		height: 0.2rem;
		width: 25%;
		bottom: 0;
		background-color: $color-primary;
		border-radius: $border-radius;
		margin-right: 0.5rem;	
		transition-property: transform;
		transition-duration: 0.3s;
		// 특정 컬럼 지정을 위한 클래스
		// &Column1 { transform: translateX(0px); }
	}
}

.slideMenuLayoutInnerPage {
	position: relative;
}

.pageUl {
	width: 100%;
	height: fit-content;
	padding-bottom: 2rem;
	display: grid;
	grid-template-columns: repeat(2, 100%);
	overflow-y: hidden;
	// overflow-x: scroll;
	overflow-x: hidden;// ?
	transform: translateX(0px);
	transition-property: transform;
	transition-duration: 0.3s;
	gap: 1rem;
	.pageLi {
		width: 100%;
		height: 100%;
		// height: fit-content;
	}
	.hidden {
		display: none;
	}
}