@import "../base/variables";
@import "../base/placeholders";

.tagEditorContainer{
  display: flex;
  gap:5px;
  padding: 3px;
  flex-wrap: wrap;
  .tagEditor{
    @extend %pt-tag;
    font-size: $font-size-medium;
  }
  .tagEditor:hover{
    background-color: $color-red-light;
  }
}
