@import "../../base/variables";
@import "../../base/placeholders";

.avartar {
  align-items: end;
  justify-items: start;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.avartarChangeContainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.cancelButton {
  width: fit-content;
  height: fit-content;
  align-items: end;
  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.submitButton {
  @extend %pt-editPageSubmitButton;
}

.nicknameInput {
  @extend %pt-input;
}

.checkMessage {
  height: 0.4rem;
  left: 10rem;
  font-size: $font-size-small;
  color: red;
  width: 100%;
}
.okMessage {
  height: 0.4rem;
  left: 10rem;
  font-size: $font-size-small;
  color: $color-primary;
  width: 100%;
}

.disabled {
  // @extend %pt-input;
  background-color: $color-grey-dark;
  border: 1px solid yellowgreen;
  cursor: not-allowed;
}
