@import "../../base/variables";

.overlay {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100dvh;
  margin: 0;
  padding: 2rem 0;
  flex: 1;
  overflow: hidden;
  transition: all 0.3s ease;
}

.middle,
.bottom {
  place-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.top {
  width: 400px;
  place-self: left;
  display: grid;
  position: relative;
  align-items: center;
  grid-template-columns: 2fr 0.1fr 0.25fr;
  left: 50px;
}

.topButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 70%;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  pointer-events: auto;
  border: 1px solid;
  grid-column: 3;
}

.topButton:hover {
  background-color: $color-button-active;
}

.topLocation {
  display: grid;
  grid-template-columns: 1.25fr 1fr 1fr;
  position: relative;
  font-size: $font-size-medium;
  min-width: 200px;
  height: 40px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  pointer-events: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid;
}

.middle {
  pointer-events: none;
}

.bottom {
  display: grid;
  grid-template-rows: 1fr auto;
  place-items: center;
  position: relative;
  pointer-events: none;
  transition: all 0.3s ease;
}

.bottomContent {
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease; 
  min-width: 10rem;
  width: 100%;
  max-width: 100%;
}

.buttonBox {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0.5rem 0;
}

.bottomButton {
  font-size: $font-size-medium;
  color: $color-grey-dark;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  height: 30px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  pointer-events: auto;
  border: 1px solid;
  transition: all 0.3s ease;
  svg {
    width: 1.5rem;
    height: 1.5rem;
    color: $color-grey-dark;
  }
}

.bottomButton:hover {
  background-color: $color-button-active;
}

.visible {
  opacity: 1;
  pointer-events: auto;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  animation: spin .6s linear infinite reverse;
}

.ball {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  animation: spin 1s infinite ease-in-out
}

.ball:after {
  position: absolute;
  content: '';
  background-color: $color-primary;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  top: 0;
}

.ball:nth-child(2) {
  animation-delay: -0.1s;
}
.ball:nth-child(3) {
  animation-delay: -0.2s;
}
.ball:nth-child(4) {
  animation-delay: -0.3s;
}
.ball:nth-child(5) {
  animation-delay: -0.4s;
}
.ball:nth-child(6) {
  animation-delay: -0.5s;
}
.ball:nth-child(7) {
  animation-delay: -0.6s;
}
.ball:nth-child(8) {
  animation-delay: -0.7s;
}
.ball:nth-child(9) {
  animation-delay: -0.8s;
}
.ball:nth-child(10) {
  animation-delay: -0.9s;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
