@import "../../base/placeholders";
@import "../../base/variables";

$color-kakao: #fee500;
$color-google: #ffffff;
$color-naver: #03c75a;

#loginPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100%;

  .buttonContainer {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    button {
      @extend %pt-button;
      box-shadow: 0 0px 0.1rem 0 rgba(0, 0, 0, 0.5);
      padding: 0.5rem 0rem;
      font-size: $font-size-medium;
      width: 240px;
      gap: 1rem;
      border-color: rgba(0, 0, 0, 0);
      span {
        display: flex;
        align-items: center;
        height: 100%;
        color: rgba(0, 0, 0, 0.85);
      }
      &:hover {
        border-color: rgba(0, 0, 0, 0);
        opacity: 0.5;
      }
    }
    .kakaoButton {
      background-color: $color-kakao;
      &:hover {
        background-color: $color-kakao;
      }
    }
    .googleButton {
      background-color: $color-google;
      &:hover {
        background-color: $color-google;
      }
    }
    .naverButton {
      background-color: $color-naver;
      &:hover {
        background-color: $color-naver;
      }
    }
  }
  .loginErrorMessage {
    font-size: $font-size-small;
    color: rgba(red, 0.7);
  }
  .footer {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    font-size: $font-size-smallest;
    color: $color-text-caption;
    flex-wrap: wrap;
  }
}
