@import "../../base/variables";
@import "../../base/placeholders";

.errorMessage {
  color: $color-grey-dark;
  font-size: $font-size-small;
  text-align: center;
  margin-top: 1.25rem;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-self: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  padding: 0.5rem;
  border-bottom: 1px solid $color-grey;
  .buttons {
    @extend %pt-button;
    font-size: $font-size-small;
    padding: 0.25rem 0.75rem;
    color: $color-grey-dark;
    background-color: $color-grey;
    border: 2px solid $color-grey;
    &:hover {
      background-color: $color-button-active;
      border: 2px solid $color-border-active;
    }
  }
  .clickedButtons {
    background-color: $color-primary-light;
  }
}

.collectionListContainer {
  flex: 1;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1.875rem;
  padding: 1.25rem 0;
}


.collectionReplyContainer {
  flex: 1;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(1px, 100%));
  gap: 0.5rem;
  padding: 1.25rem 0;
  .errorMessage {
    color: $color-text-caption;
    font-size: $font-size-small;
    margin-top: 1rem;
    align-self: center;
    justify-self: center;
  }
}

/* ReplyContent */
.replyContainer {
  @extend %pt-card;
  flex: 1;
  width: 100%;
  padding: 0.625rem;
  display: grid;
  // border: 1px solid $color-grey;
  border-radius: 15px;
  grid-template-columns: 2.5rem 1fr 1.5rem;
  gap: 0.5rem;
  .replyBox {
    display: grid;
    grid-template-rows: 1.25rem 1fr;
    width: 100%;
    height: 100%;
    // overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera*/
    }
    .replyText {
      font-size: $font-size-small;
      margin-right: 0.5rem;
    }
    .replyName {
      // color: $color-grey-dark;
      font-size: $font-size-small;
      font-weight: 600;
    }
    .replyCreatedAt {
      color: $color-grey-dark;
      font-size: $font-size-smallest;
    }
  }
  .replyButton {
    display: grid;
    align-self: start;
    justify-self: end;
    color: $color-grey;
    font-size: $font-size-smallest;
    svg {
      width: 1.5rem;
      height: 1.5rem;
      color: $color-grey;
    }
  }
}

.replyAvatar {
  width: 30px;
  height: 30px;
  align-self: start;
  justify-self: start;
  border-radius: 70%;
  object-fit: cover;
}

/* CollectionReplyInput */
.replyInputContainer {
  @extend %pt-card;
  flex: 1;
  width: 100%;
  height: 100%;
  // height: 130px;
  padding: 0.625rem;
  display: grid;
  align-items: center;
  justify-content: center;
  // border: 1px solid $color-grey;
  background-color: $color-grey-light;
  border-radius: 15px;
  grid-template-columns: 2.5rem 1fr 4rem;
  gap: 10px;
  .replyTextArea {
    width: 100%;
    height: 100%;
    background-color: $color-grey-light;
    resize: none;
  }
  .replyInputButtonBox {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 20px;
    gap: 10px;
    .replySendButton {
      width: 100%;
      height: 100%;
      border: 1px solid $color-grey;
      border-radius: 15px;
      font-size: $font-size-small;
      color: $color-text-caption;
      &:hover {
        background-color: $color-grey;
      }
      &:active {
        background-color: $color-primary-light;
      }
    }
  }
  .replyInputCounter {
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: $font-size-small;
    color: $color-grey-dark;
  }
  .statusMessage {
    color: $color-text-caption;
    font-size: $font-size-small;
  }
}


/* utils */
.icon {
  width: 25px;
  height: 25px;
}

.dummycard {
  height: 200px;
  background-color: bisque;
  border: 1px solid;
}
