@import "../../base/variables";
@import "../../base/placeholders";

.container{
	display: grid;
	grid-template-rows: 70px 30px 250px 20px 130px 20px 100px 20px 150px 150px;
	margin:0;
	padding:0;
	min-height: 100vh;
	transition: all 0.3s ease;
	padding-left: 7%;
	padding-right: 7%;
}

.message{
  display: flex;
  padding: 15px;
  padding-top: 30px;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.collectionChangeContainer{
	display: grid;
  grid-template-columns: 35px 150px 35px;
  align-items: center;
  justify-content: center;
  place-items: center;
  border-bottom: 1px solid $color_grey;
  padding-top: 30px;
  padding-bottom: 30px;
}

.mainImage{
  align-items: end;
  justify-items: start;
	width:170px;
	height:170px;
  border-radius: 15px;
	object-fit: cover;
  cursor: pointer;
}

.cancelButtonBox{
  display: grid;
  align-items: end;
  justify-content: center;
  width:100%;
  height:100%;
}

.cancelButton{
  display: grid;
  align-items: end;
  justify-items: start;
}

.confirmButton{
  width: 100%;
  height: 35px;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  border-radius: 3rem;
  outline: 1px solid $color-border-inactive;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: $color-button-active;
    outline: 2px solid $color-border-active;
  }
}

.changeContainer{
  display: grid;
  grid-template-rows: 1fr;
  width: 100%;
  align-items: end;
  justify-items: start;
  padding: 10px;
}

.changeContainerWithChecker{
  display: grid;
  grid-template-rows: 1fr 35px ;
  width: 100%;
  align-items: end;
  justify-items: start;
  padding: 10px;
}

.nameCheckMessage{
  position: absolute;
  font-size: $font-size-medium;
  color: $color-primary;
	width: 100%;
}

.nameInput{
  @extend %pt-input;
}

.tagInputContainer{
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-items: center;
  font-size: $font-size-medium;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  outline: 1px solid $color-border-inactive;
  box-shadow: 0px 0px 5px $color-grey;
  gap: 10px;
}

.tagBoxContainer{
  display: flex;
  width: fit-content;
  height: fit-content;
  gap:5px;
  padding: 3px;
}

.tagBox{
  @extend %pt-tag;
  font-size: $font-size-medium;
}

.tagBox:hover{
  background-color: #FFE2E2;
}

.tagInput{
  width: 100%;
  height: 100%;
  padding: 3px;
}

.descriptionInput{
  @extend %pt-input;
  height: 100px;
}

.buttonContainer{
  padding: 5px;
  padding-top: 50px;
  flex:1;
  align-items: center;
  justify-content: center;
  place-items: center;
  border-top: 1px solid $color_grey;
  margin-top: 15px;
}
