@import "../../base/variables";
@import "../../base/placeholders";

.collectionChangeContainer{
	display: grid;
  grid-template-columns: 1fr auto auto 1fr;
  .mainImage{
    grid-column: 2;
    img {
      width:170px;
      height:170px;
      border-radius: 15px;
      object-fit: cover;
      cursor: pointer;
    }
  }
  .cancelButtonBox{
    align-self: self-end;
    width: fit-content;
    height: fit-content;
  }
  .cancelButton{
    display: grid;
    align-items: end;
    justify-items: start;
    svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }
}

.nameCheckMessage{
  position: absolute;
  font-size: $font-size-medium;
  color: $color-primary;
	width: 100%;
}

.buttonContainer{
  padding: 5px;
  flex:1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  place-items: center;
  margin-top: 0.5rem;
}

.scrollTopButton {
  svg {
    color: $color-grey-dark;
  }
}

.confirmButton{
  width: 100%;
  height: 35px;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  border-radius: 3rem;
  outline: 1px solid $color-border-inactive;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: $color-button-active;
    outline: 2px solid $color-border-active;
  }
}


.titleContainer {
  display: flex;
  .pinAddButton {
    color: $color-text-caption;
    flex: 1;
    text-align: end;
    font-size: $font-size-small;
    &:hover {
      color: $color-primary;
    }
  }
}

.pinCardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}
