@import "../../base/variables";

.container{
	display: grid;
	grid-template-rows: 70px 70px 25px 70px 1fr;
	margin:0;
	padding:0;
	min-height: 100vh;
	transition: all 0.3s ease;
	padding-left: 7%;
	padding-right: 7%;
}

.searchLogBanner{
	display: flex;
	align-items: flex-end;
  justify-items: start;
	gap: 5px;
	line-height: 1.5;
}

.searchLogExtend{
	color:$color-grey-dark;
	font-size: $font-size-small;
}

.searchLogExtend:hover{
	color:$color-primary;
}

.searchLogContainer{
	display: grid;
	align-items:center;
	justify-content: flex-start;
	grid-template-columns: repeat(auto-fill, minmax(1px, 200px));
	overflow: hidden;
	padding-bottom: 10px;
}

.searchLog{
	display: flex;
	align-items:baseline;
	justify-content: flex-start;
	font-size: $font-size-medium;
	gap: 3px;
	line-height: 1.5;
}

.searchLog:hover{
	color:$color-primary;
}

.searchCategory{
	font-size: $font-size-small;
	color:$color-grey-dark;
}

.inputContainer{
	display: grid;
	grid-template-columns: 25px 1fr 150px;
	width: 100%;
	height: 50px;
	padding-left: 20px;
	padding-right: 20px;
	gap: 10px;
	border: 1px solid $color-primary;
	border-radius: 3rem;
	color: $color-grey-dark;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 7px $color-grey;
}

.input{
	font-size: $font-size-medium;
	height: 100%;
	border-right: 1px solid $color-primary;
}

.inputButton{
	width:25px;
	height: 25px;
}

.searchContainer{
	flex:1;
	width:100%;
	gap: 10px;
}

.searchPartContainer{
	flex:1;
	width: 100%;
	display: grid;
	grid-template-rows: 50px 1fr;
	font-size: $font-size-large;
}

.searchListContainer{
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: repeat(auto-fill, minmax(1px, 400px));
	gap: 10px;
	padding: 20px;
	padding-top: 40px;
}

.searchListContainerCollection{
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: repeat(auto-fill, minmax(1px, 362px));
	gap: 10px;
	padding: 20px;
	padding-top: 40px;
}

.inputButton {
	svg {
  	width: 25px;
  	height: 25px;
		color: $color-grey-dark;
	}
}

.searchIcon {
	// color: $color-grey-dark;
	// background-color: yellow;
	// width: 25px;
	// height: 25px;
}

.dummycard1{
	height: 185px;
	background-color: rgb(204, 204, 204);
	border: 1px solid;
}
