@import "../../base/variables";
@import "../../base/placeholders";

/* PinBox */
.pinBox {
  @extend %pt-card;
  box-shadow: none;
  background-color: $color-grey-light;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: auto;

	position: relative;

	%button {
		font-size: $font-size-small;
		svg{
			width: 1.25rem;
			height: 1.25rem;
			color: $color-grey-dark;
		}
		&:hover {
			color: $color-primary-dark;
			svg {
				color: $color-primary-dark;
			}
		}
	}
	.deletePinButton {
		@extend %button;
		position: absolute;
		top: 2rem;
		right: 2rem;
	}
	.editButton {
		@extend %button;
		position: absolute;
		top: 2rem;
		right: 4rem;
	}
	.clickedEditButton {
		@extend %button;
		position: absolute;
		top: 2rem;
		right: 4rem;
		color: $color-primary-dark;
		svg {
			color: $color-primary-dark;
		}
	}

	.textLength {
		position: absolute;
		top: 6.75rem;
		right: 2rem;
		color: $color-grey;
		font-size: $font-size-small;
	}
}

.reviewTextArea {
  @extend %pt-input;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 0.5rem;
	span {
		width: 100%;
		height: 100%;
		overflow: auto;
	}
	svg{
		margin-top: 0.25rem;
		color: $color-grey-dark;
		width: 1.25rem;
		height: 1.25rem;
	}
}


/* ImageUploadBox */
.imageUploadBox {
	.inputFile {
    display: none;
  }
  .inputLabel {
		cursor: pointer;
  }
  textarea {
    @extend %pt-input;
    width: 100%;
    resize: vertical;
  }
}

.errMsg {
	color: red;
	font-size: $font-size-small;
}

.selectedImgNum {
	font-size: $font-size-small;
	margin-right: 0.5rem;
	color: $color-grey-dark;
}
