@import "../../base/variables";
@import "../../base/placeholders";

.submitButton {
  @extend %pt-editPageSubmitButton;
}

.searchInput {
  @extend %pt-input;
}

.searchBox {
  display: flex;
  align-items: center;

  .searchButton {
    @extend %pt-button;
    margin: 0;
    padding: 0;
    outline: 0;
    flex-shrink: 0;
    margin-left: 0.5rem;
    width: fit-content;
    color: $color-grey-dark;
    svg {
      width: 1.5rem;
      height: 1.5rem;
      color: $color-grey-dark;
    }
    &:hover{
      background-color: unset;
      outline: none;
      color: $color-primary-dark;
      svg {
        color: $color-primary-dark;
      }
    }
  }
}

.selectedPin {
  background-color: $color-primary-light;
  border-radius: $border-radius;
}

.unSelectedPin {
  // background-color: $color-grey-light;
  border-radius: $border-radius;
}
