@import "../../base/variables";
@import "../../base/placeholders";

.submitButton {
  @extend %pt-editPageSubmitButton;
}
.deleteButton {
  width: 100%;
  text-align: end;

  button {
    height: 1rem;
    font-size: $font-size-small;
    color: $color-text-caption;
    &:hover {
      color: red;
    }
  }
}

/* ImageUploadBox */
.imageUploadBox {
	.inputFile {
    display: none;
  }
  .inputLabel {
		cursor: pointer;
  }
  textarea {
    @extend %pt-input;
    width: 100%;
    resize: vertical;
  }
}

.errMsg {
	color: red;
	font-size: $font-size-small;
}

.selectedImgNum {
	font-size: $font-size-small;
	margin-right: 0.5rem;
	color: $color-grey-dark;
}
