@import "../base/variables";

.container{
	position: grid;
	grid-template-columns: 1fr 20px;
	height: 100vh;
	min-height: 410px;
	display: flex;
}

.maincontent {
	position:flex;
	flex-direction: column;
	background-color: $color-background-default;
	height: 100vh;
	flex: 1;
  }

.mainButton{
	width:20px;
	height:100px;
	align-items: center;
	background-color: $color-button-inactive;
	cursor:pointer;
}
