@import "../base/variables";

.container{
	display: grid;
	background-color: $color-grey;
	box-shadow: inset -3px 0px 1px -2px gray;
	grid-template-rows: 10px 70px 70px 70px 1fr 70px 100px 10px;
	height: 100vh;
	align-items: center;
	text-align: center;
}
